* {
	font-family: open-sans;
}
ul {
	margin: 0px;
	padding: 9px 0px 9px 9vw;
}

nav {
	position: sticky;
	top: 0px;
	background-color: rgb(255, 255, 255)
}

.nav-logo {
	display: inline;
}

.nav {
	display: inline;
	margin-right: 1.3vw;
}

.right-nav {
	margin-left: 620px;
	margin-top: -35px;
}

.tuitt-button{
	background-color: #c2195b;
	border-radius: 20px;
	width: 100px;
	color: white;
	font-weight: bold;
	padding: 0.5rem;
	position: sticky;
}
#bg-image{
	min-height: 50vh;
	margin-top: -30px;
	background-image: url(https://d3ojsfl21hfxhc.cloudfront.net/assets/zuitt/programdetails2_w.jpg);
	background-repeat: no-repeat;
	background-size: 100%;
	background-position: center;
	background-attachment: scroll;
}
.container h1{
	width: 50%;
	text-align: right;
	margin-left: 580px;
}
.container h2{
	width: 35%;
	text-align: right;
	margin-left: 800px;
}
.apply-button{
	margin-left: 73rem;
	background-color: #c2195b;
	padding: 0.6rem;
	width: 150px;
	color: white;
	border-radius: 20px;
	font-weight: bold;
}
.front-bg{
	background-color: rgba(0,0,0,0.5);
	min-height: 50vh;
}
.title,.subtitle{
	font-family: "Zilla Slab";
	color: white;
}
.title{
	font-size: 50px;
}
.subtitle{
	font-size: 25px;
	font-weight: 10;
}
.intro .title-2{
	text-align: center;
	padding: 1rem;
	font-size: 35px;
	font-weight: bolder;
}
.intro-description{
	width: 55%;
    margin: auto;
    padding: 0.8rem;
}
.pre-footer{
	background-color: #f7fbfb;
	text-align: centre;
    height: 350px;
}
.pre-footer .title-2{
	text-align: center;
	margin-top: 5rem;
	padding-top: 4rem;
	font-size: 35px;
	font-weight: bolder;
}
.prefooter-description{
	width: 60%;
	margin: auto;
	text-align: center;
	padding: 1rem;
}

.book-button{
	background-color: #336589;
	border-radius: 25px;
	color: white;
	font-weight: bold;
	padding: 0.5rem 2rem ;
	margin-left: 45%;
	margin-right: 45%;
}
footer{
	padding: 0.7rem;
	text-align: center;
}

footer span{
	margin-right: 0.5rem;
	margin-left: 0.5rem;
}
