#div-1{
	background-color: green;
	display: block;
}
#span-1{
	background-color: purple;
	display: inline;
	width: 200px;
	height: 200px;
}
#div-2{
	background-color: hotpink;
}
#span-2{
	background-color: red;
}
#img{
	width: 250px;
	height: 150px;
}