*{
	font-family: "Courier New", monospace;
	font-size: 15px;
}
p{
	color:  blue;
}
h1{
	font-size: 50px;
}
#first{
	text-transform: uppercase;
}
.lan1{
	background-color: lightgreen;
}
[class="tool1"]{
	border: 2px solid blue;
}
div img{
	width: 50px;
	height: 50px;
	border-radius: 50px;
}
div + .th li{
	list-style-type: none;
}
.th > li{
	letter-spacing: 5px;
}
div~h2{
	text-align: center;
	color: black;
}